# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Model files
models/
app/sentiment_model/

# Dataset files
data/
*.csv
*.tsv
*.json

# IDE-specific files
.idea/
.vscode/

# Flask cache and session files
instance/
flask_session/

# Dependencies
*.lock
